*{
   margin: 0;
   padding: 0;
   font-family: "Poppins", sans-serif;
   box-sizing: border-box;
}
body{
    background-image: url("../imgs/background.jpeg");
    height: 97vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    max-width: 500px;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #c35bec, #660abd);
    padding: 20px;
    border-radius: 30px;
}

input[type=text]{
    outline: 0;
    width: 85%;
    height: 60px;
    border-radius: 30px;
    border: 0;
    padding: 10PX;
    font-size: 25PX;
}

input[type=submit]{
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    padding: 10PX;
    font-size: 30PX;
    cursor: pointer;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 50px 10px;
    margin: 20px 0 0 0;
    background: linear-gradient(135deg, #660abd, #c35bec);
    border-radius: 30px;
    color: white;
    position: relative;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 20px;
    font-weight: 0;
}

.temp{
    font-size: 80px;
    margin: 40px 0 0 0;
    font-weight: bold;
}


.des-icon{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.des{
    font-size: 30px;
    margin: 0px 20px 30px;
}
.details{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col{
    display: flex;
    align-items: center;
    margin: 30px;
    margin-bottom: 0;
}

.col img{
    height: 50px;
}
.col p{
    margin-left: 10px;
    font-size: 20px;
}